---
import { Tabs, TabItem, Code, Steps } from '@astrojs/starlight/components'
import CodeParser from '@dinui/cli/code-parser'

const globComponentCodeImports = import.meta.glob<string>(
  '../../../../packages/react-ui/src/**/*.tsx',
  {
    query: '?raw',
    import: 'default',
  },
)

interface Props {
  path: string
}

const { path } = Astro.props

const componentName = path.replace('ui/', '')

const componentCode = await (async () => {
  const fullPath = Object.keys(globComponentCodeImports).find((p) => p.endsWith(`${path}.tsx`))
  const loadCode = globComponentCodeImports[fullPath ?? '']
  if (!loadCode) throw new Error(`Component does not exists on "${path}" path`)

  return await loadCode()
})()

const componentCodeParser = new CodeParser(componentCode)
const componentDependencies = componentCodeParser.getDependencies()
const componentUserCode = componentCodeParser.getUserCode()
---

<div class="pt-4">
  <Tabs>
    <TabItem label="Default">
      <Steps>
        <ol class="pt-2">
          <li>
            <p>
              Follow{' '}
              <a href="/installation"> Installation Guide </a>
            </p>
            <div>
              To enable DinUI functionality in your project, you will need to properly set up
              Tailwind and install the necessary dependencies.
            </div>
          </li>

          <slot />

          <li>
            <p>All done</p>
            <div>You now can start using this component in your project.</div>
          </li>
        </ol>
      </Steps>
    </TabItem>
    <TabItem label="CLI">
      <Steps>
        <ol class="pt-2">
          <li>
            <p>
              Follow{' '}
              <a href="/installation"> Installation Guide </a>
            </p>
            <div>
              To enable DinUI functionality in your project, you will need to properly set up
              Tailwind and install the necessary dependencies.
            </div>
          </li>

          <li>
            <p>Run the following command in your project</p>
            <Tabs>
              <TabItem label="npm">
                <Code lang="bash" code={`npx @dinui/cli@latest add ${componentName}`} />
              </TabItem>
              <TabItem label="yarn">
                <Code lang="bash" code={`yarn dlx @dinui/cli@latest add ${componentName}`} />
              </TabItem>
              <TabItem label="pnpm">
                <Code lang="bash" code={`pnpm dlx @dinui/cli@latest add ${componentName}`} />
              </TabItem>
              <TabItem label="bun">
                <Code lang="bash" code={`bunx @dinui/cli@latest add ${componentName}`} />
              </TabItem>
            </Tabs>
          </li>

          <slot />

          <li>
            <p>Update the import paths to match your project setup</p>
          </li>

          <li>
            <p>All done</p>
            <div>You now can start using this component in your project.</div>
          </li>
        </ol>
      </Steps>
    </TabItem>
    <TabItem label="Manual">
      <Steps>
        <ol class="pt-2">
          <li>
            <p>
              Follow{' '}
              <a href="/installation"> Installation Guide </a>
            </p>
            <div>
              To enable DinUI functionality in your project, you will need to properly set up
              Tailwind and install the necessary dependencies.
            </div>
          </li>
          <li>
            <p>Install dependencies</p>
            <Tabs>
              <TabItem label="npm">
                <Code lang="bash" code={`npm install ${componentDependencies.join(' ')}`} />
              </TabItem>
              <TabItem label="yarn">
                <Code lang="bash" code={`yarn add ${componentDependencies.join(' ')}`} />
              </TabItem>
              <TabItem label="pnpm">
                <Code lang="bash" code={`pnpm add ${componentDependencies.join(' ')}`} />
              </TabItem>
              <TabItem label="bun">
                <Code lang="bash" code={`bun add ${componentDependencies.join(' ')}`} />
              </TabItem>
            </Tabs>
          </li>

          <li>
            <p>Copy and paste the following code into your project</p>
            <Code code={componentUserCode} lang="tsx" />
          </li>

          <slot />

          <li>
            <p>Update the import paths to match your project setup</p>
          </li>

          <li>
            <p>All done</p>
            <div>You now can start using this component in your project.</div>
          </li>
        </ol>
      </Steps>
    </TabItem>
  </Tabs>
</div>
